<ng-template matStepLabel>
    Chọn Dịch vụ</ng-template>
<div class="container mt-3">
    <div class="col-lg-12 mb-2" style="margin-top: 20px;">
        <a role="button" class="btn btn-test-1 btn-block py-2 shadow-sm with-chevron">
            <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2"><strong class="text-uppercase">Gợi ý</strong><i class="fa fa-angle-down"></i></p>
        </a>
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div *ngFor="let service of services let i = index">
                            <div *ngIf="service.recommend">
                                <a type="button" (click)="checkisSeclect(i)" (click)="pickService(service.id, i)">
                                    <div class="selectService">
                                        <img style="width: 398px; padding: 5px; height: 150px;" src="{{service.bookingImage}}" data-holder-rendered="true">
                                        <button class="btnSelect">{{!isSelect[i]? 'Chọn' : 'Đã chọn'}}</button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 mb-2">
        <!-- Collapse Panel 1-->
        <a role="button" class="btn btn-test-4 btn-block py-2 shadow-sm with-chevron">
            <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2"><strong class="text-uppercase">ShineCombo</strong><i class="fa fa-angle-down"></i></p>
        </a>
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div *ngFor="let service of services let i = index">
                            <div *ngIf="service.serviceType == 'Combo'">
                                <a type="button" (click)="checkisSeclect(i)" (click)="pickService(service.id, i)">
                                    <div class="selectService">
                                        <img style="width: 398px; padding: 5px; height: 150px;" src="{{service.bookingImage}}" data-holder-rendered="true">
                                        <button class="btnSelect">{{!isSelect[i]? 'Chọn' : 'Đã chọn'}}</button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 mb-2">
        <!-- Collapse Panel 1-->
        <a role="button" class="btn btn-test-2 btn-block py-2 shadow-sm with-chevron">
            <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2"><strong class="text-uppercase">Uốn/Dưỡng/Nhuộm</strong><i class="fa fa-angle-down"></i></p>
        </a>
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div *ngFor="let service of services let i = index">
                            <div *ngIf="service.serviceType == 'Uốn' || service.serviceType == 'Dưỡng' || service.serviceType == 'Nhuộm'">
                                <a type="button" (click)="checkisSeclect(i)" (click)="pickService(service.id, i)">
                                    <div class="selectService">
                                        <img style="width: 398px; padding: 5px; height: 150px;" src="{{service.bookingImage}}" data-holder-rendered="true">
                                        <button class="btnSelect">{{!isSelect[i]? 'Chọn' : 'Đã chọn'}}</button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 mb-2">
        <!-- Collapse Panel 1-->
        <a role="button" class="btn btn-test-3 btn-block py-2 shadow-sm with-chevron">
            <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2"><strong class="text-uppercase">Chăm sóc da</strong><i class="fa fa-angle-down"></i></p>
        </a>
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div *ngFor="let service of services let i = index">
                            <div *ngIf="service.serviceType == 'Chăm sóc da'">
                                <a type="button" (click)="checkisSeclect(i)" (click)="pickService(service.id, i)">
                                    <div class="selectService">
                                        <img style="width: 398px; padding: 5px; height: 150px;" src="{{service.bookingImage}}" data-holder-rendered="true">
                                        <button class="btnSelect">{{!isSelect[i]? 'Chọn' : 'Đã chọn'}}</button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
