<!-- Footer -->
<footer>
    <div class="footer-top" style="background-image: linear-gradient(45deg,  rgba(24, 24, 24, 0.932),55%, rgba(92, 92, 92, 0.85));">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-3 footer-about wow fadeInUp">
                    <img style="height: 50px;" class="logo-footer" src="assets/images/icon.png" alt="logo-footer" data-at2x="assets/img/logo.png">
                    <p>
                        Chúng tôi luôn vui lòng tiếp đón quý khách để quý khách có được một trải nghiệm tốt nhất.
                    </p>
                    <p><a href="#">Our Team</a></p>
                </div>
                <div class="col-md-4 col-lg-4 offset-lg-1 footer-contact wow fadeInDown">
                    <h3 style="color: white;">Contact</h3>
                    <p><i class="fas fa-map-marker-alt"></i> 1 Vo Van Ngan</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> Phone: (0039) 333 12 68 347</p>
                    <p><i class="fa fa-envelope"></i> Email: <a style="color: rgb(0, 132, 255) !important;" href="mailto:baber@gmail.com">24shine@gmail.com</a></p>
                    <p><i class="fa fa-skype"></i> Skype: you_online</p>
                </div>
                <div class="col-md-4 col-lg-4 footer-links wow fadeInUp">
                    <div class="row">
                        <div class="col">
                            <h3 style="color: white;">Links</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p><a class="scroll-link" href="#top-content">Top</a></p>
                            <p><a class="scroll-link" href="#section-1">Section 1</a></p>
                            <p><a class="scroll-link" href="#section-2">Section 2</a></p>
                            <p><a class="scroll-link" href="#section-3">Section 3</a></p>
                        </div>
                        <div class="col-md-6">
                            <p><a class="scroll-link" href="#section-4">Section 4</a></p>
                            <p><a href="#">Affiliates</a></p>
                            <p><a href="#">Terms</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom" style="background-image: linear-gradient(45deg,  rgba(0, 0, 0, 0.8),55%, rgba(117, 117, 117, 0.85));">
        <div class="container">
            <div class="row">
                <div class="col-md-6 footer-copyright">
                    &copy; Copppyright <a href="24shine.com">24shine</a>
                </div>
                <div class="col-md-6 footer-social">
                    <a style="margin-right: 15px;" href="#"><i class="fa fa-facebook"></i></a>
                    <a style="margin-right: 15px;" href="#"><i class="fa fa-twitter"></i></a>
                    <a style="margin-right: 15px; background-color: red;" href="#"><i class="fa fa-google-plus-g"></i></a>
                    <a style="margin-right: 15px;" href="#"><i class="fa fa-instagram"></i></a>
                    <a style="margin-right: 15px;" href="#"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
