<!-- Footer -->
<footer>
    <div class="footer-top" style="background-image: linear-gradient(45deg,  rgba(24, 24, 24, 0.932),55%, rgba(92, 92, 92, 0.85));">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-3 footer-about wow fadeInUp">
                    <img style="height: 70px;" class="logo-footer text-white" src="assets/images/icon.png" alt="logo-footer" data-at2x="assets/img/logo.png">
                    <p>
                        Chúng tôi luôn vui lòng tiếp đón quý khách để quý khách có được một trải nghiệm tốt nhất.
                    </p>
                </div>
                <div class="col-md-4 col-lg-4 offset-lg-1 footer-contact wow fadeInDown">
                    <h1 style="color: #fc3; margin-top: 0.6em;">Thông tin</h1>
                    <p><i class="fas fa-map-marker-alt"></i>1 Võ Văn Ngân, Linh Trung, Thủ Đức, TPHCM</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> Phone: (0039) 333 12 68 347</p>
                    <p><i class="fa fa-envelope"></i> Email: <a style="color: rgb(0, 132, 255) !important;" href="mailto:baber@gmail.com">vbarershop@gmail.com</a></p>
                </div>
                <div class="col-md-4 col-lg-4 footer-links wow fadeInUp">
                    <div class="row">
                        <h1 style="color: #fc3;  margin-top: 0.6em;">Giờ phục vụ</h1>
                        <p>Giờ phục vụ 08:00 đến 20:00(kể cả thứ 7, chủ nhật)
                            <br> Hãy đến V-BarberShop để trải nghiệm những dịch vụ mới và tốt nhất
                            <br> Hân hạnh được phục vụ quý khách
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom" style="background-image: linear-gradient(45deg,  rgba(0, 0, 0, 0.8),55%, rgba(117, 117, 117, 0.85));">
        <div class="container">
            <div class="row">
                <div class="col-md-6 footer-copyright">
                    <p>&copy; Copppyright: <a href="24shine.com">V-BarerShop</a></p>
                </div>
                <div class="col-md-6 footer-social">
                    <a style="margin-right: 15px;" href="#"><i class="fa fa-facebook"></i></a>
                    <a style="margin-right: 15px;" href="#"><i class="fa fa-twitter"></i></a>
                    <a style="margin-right: 15px; background-color: red;" href="#"><i class="fa fa-google-plus-g"></i></a>
                    <a style="margin-right: 15px;" href="#"><i class="fa fa-instagram"></i></a>
                    <a style="margin-right: 15px;" href="#"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
