<!-- Header -->
<app-header></app-header>
<!-- Home page -->
<div class="container-fluid" style="background-color: #f1f1f1; ">
    <!-- Slider  -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('../../assets/images/beck.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">First Slide</h2>
                    <p class="lead">This is a description for the first slide.</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('https://kenh14cdn.com/thumb_w/640/2020/1/9/photo-1-15785678260551668154007-crop-15785687249741802732942.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">Second Slide</h2>
                    <p class="lead">This is a description for the second slide.</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('https://source.unsplash.com/szFUQoyvrxM/1920x1080')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">Third Slide</h2>
                    <p class="lead">This is a description for the third slide.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- Dịch vụ tại Baber -->
    <div class="container py-5" style="background-color: rgb(255, 255, 255); margin-bottom: -90px;">
        <!-- For Demo Purpose-->
        <header class="text-center">
            <h1 class="display-4" style="color: rgb(0, 0, 0);">DỊCH VỤ TẠI BABERSHOP</h1>
            <p class="text-muted font-italic mb-0" style="color: rgb(0, 0, 0) !important;">Đến với BaberShop để có trải nghiệm những dịch vụ tốt</p>
            <!-- <p class="text-muted font-italic">Snippet by<a href="https://bootstrapious.com" class="text-muted">
          <u>Bootstrapious</u></a>
      </p> -->
        </header>
        <!-- Collapse Service-->
        <div class="py-5">
            <div class="row">
                <!-- Collapse Panel Cắt-->
                <div class="col-lg-6 mb-5">
                    <a data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="true" aria-controls="collapseExample1" class="btn btn-test-1 btn-block py-2 shadow-sm with-chevron">
                        <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2"><strong class="text-uppercase">Cắt</strong><i class="fa fa-angle-down"></i></p>
                    </a>
                    <div id="collapseExample1" class="collapse shadow-sm">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="card card-block">
                                            <img style="width: 100%; padding: 5px;" src="assets/images/serviceimg/t4img1.jpg" data-holder-rendered="true">
                                            <a href="#" class="btn btn-primary" style="margin: 5px;">Chọn</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card card-block">
                                            <img style="width: 100%; padding: 5px;" src="assets/images/serviceimg/t4img2.jpg" data-holder-rendered="true">
                                            <a href="#" class="btn btn-primary" style="margin: 5px;">Chọn</a>

                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card card-block">
                                            <img style="width: 100%; padding: 5px;" src="assets/images/serviceimg/t4img3.jpg" data-holder-rendered="true">
                                            <a href="#" class="btn btn-primary" style="margin: 5px;">Chọn</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card card-block">
                                            <img style="width: 100%; padding: 5px;" src="assets/images/serviceimg/t4img4.jpg" data-holder-rendered="true">
                                            <a href="#" class="btn btn-primary" style="margin: 5px;">Chọn</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card card-block">
                                            <img style="width: 100%; padding: 5px;" src="assets/images/serviceimg/t4img5.jpg" data-holder-rendered="true">
                                            <a href="#" class="btn btn-primary" style="margin: 5px;">Chọn</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card card-block">
                                            <img style="width: 100%; padding: 5px;" src="assets/images/serviceimg/t4img6.jpg" data-holder-rendered="true">
                                            <a href="#" class="btn btn-primary" style="margin: 5px;">Chọn</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Collapse Panel Uốn-->
                <div class="col-lg-6 mb-5">

                    <a data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="true" aria-controls="collapseExample2" class="btn btn-test-2 btn-block py-2 shadow-sm with-chevron">
                        <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2"><strong class="text-uppercase">Uốn</strong><i class="fa fa-angle-down"></i></p>
                    </a>
                    <div id="collapseExample2" class="collapse shadow-sm">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="card card-block">
                                            <img style="width: 100%; padding: 5px;" src="assets/images/serviceimg/Artboard_14_1.jpg" data-holder-rendered="true">
                                            <a href="#" class="btn btn-primary" style="margin: 5px;">Chọn</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card card-block">
                                            <img style="width: 100%; padding: 5px;" src="assets/images/serviceimg/Artboard_12_1.jpg" data-holder-rendered="true">
                                            <a href="#" class="btn btn-primary" style="margin: 5px;">Chọn</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card card-block">
                                            <img style="width: 100%; padding: 5px;" src="assets/images/serviceimg/Artboard_15_1.jpg" data-holder-rendered="true">
                                            <a href="#" class="btn btn-primary" style="margin: 5px;">Chọn</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card card-block">
                                            <img style="width: 100%; padding: 5px;" src="assets/images/serviceimg/tao-phong.jpg" data-holder-rendered="true">
                                            <a href="#" class="btn btn-primary" style="margin: 5px;">Chọn</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Collapse Panel Dưỡng-->
                <div class="col-lg-6 mb-5">
                    <a data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="true" aria-controls="collapseExample3" class="btn btn-test-3 btn-block p2-3 shadow-sm with-chevron">
                        <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2"><strong class="text-uppercase">Dưỡng</strong><i class="fa fa-angle-down"></i></p>
                    </a>
                    <div id="collapseExample3" class="collapse shadow-sm">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="card card-block">
                                            <img style="width: 100%; padding: 5px;" src="assets/images/serviceimg/Artboard_21.png" data-holder-rendered="true">
                                            <a href="#" class="btn btn-primary" style="margin: 5px;">Chọn</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card card-block">
                                            <img style="width: 100%; padding: 5px;" src="assets/images/serviceimg/Artboard_20_1.jpg" data-holder-rendered="true">
                                            <a href="#" class="btn btn-primary" style="margin: 5px;">Chọn</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Collapse Panel Nhuộm-->
                <div class="col-lg-6 mb-5">
                    <a data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="true" aria-controls="collapseExample4" class="btn btn-test-4 btn-block p2-3 shadow-sm with-chevron">
                        <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2"><strong class="text-uppercase">Nhuộm</strong><i class="fa fa-angle-down"></i></p>
                    </a>
                    <div id="collapseExample4" class="collapse shadow-sm">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="card card-block">
                                            <img style="width: 100%; padding: 5px;" src="assets/images/serviceimg/Artboard_21.jpg" data-holder-rendered="true">
                                            <a href="#" class="btn btn-primary" style="margin: 5px;">Chọn</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card card-block">
                                            <img style="width: 100%; padding: 5px;" src="assets/images/serviceimg/Artboard_21.jpg" data-holder-rendered="true">
                                            <a href="#" class="btn btn-primary" style="margin: 5px;">Chọn</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card card-block">
                                            <img style="width: 100%; padding: 5px;" src="assets/images/serviceimg/Artboard_21.jpg" data-holder-rendered="true">
                                            <a href="#" class="btn btn-primary" style="margin: 5px;">Chọn</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Collapse Panel Chăm sóc da-->
                <div class="col-lg-6 mb-5">
                    <a data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="true" aria-controls="collapseExample5" class="btn btn-test-5 btn-block p2-3 shadow-sm with-chevron">
                        <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2"><strong class="text-uppercase">Chăm sóc da</strong><i class="fa fa-angle-down"></i></p>
                    </a>
                    <div id="collapseExample5" class="collapse shadow-sm">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="card card-block">
                                            <img style="width: 100%; padding: 5px;" src="assets/images/serviceimg/Artboard_21.jpg" data-holder-rendered="true">
                                            <a href="#" class="btn btn-primary" style="margin: 5px;">Chọn</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card card-block">
                                            <img style="width: 100%; padding: 5px;" src="assets/images/serviceimg/Artboard_21.jpg" data-holder-rendered="true">
                                            <a href="#" class="btn btn-primary" style="margin: 5px;">Chọn</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card card-block">
                                            <img style="width: 100%; padding: 5px;" src="assets/images/serviceimg/Artboard_21.jpg" data-holder-rendered="true">
                                            <a href="#" class="btn btn-primary" style="margin: 5px;">Chọn</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card card-block">
                                            <img style="width: 100%; padding: 5px;" src="assets/images/serviceimg/Artboard_21.jpg" data-holder-rendered="true">
                                            <a href="#" class="btn btn-primary" style="margin: 5px;">Chọn</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Collapse Panel Khác-->
                <div class="col-lg-6 mb-5">
                    <a data-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="true" aria-controls="collapseExample6" class="btn btn-test-6 btn-block p2-3 shadow-sm with-chevron">
                        <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2"><strong class="text-uppercase">Khác</strong><i class="fa fa-angle-down"></i></p>
                    </a>
                    <div id="collapseExample6" class="collapse shadow-sm">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="card card-block">
                                            <img style="width: 100%; padding: 5px;" src="assets/images/serviceimg/Artboard_21.jpg" data-holder-rendered="true">
                                            <a href="#" class="btn btn-primary" style="margin: 5px;">Chọn</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card card-block">
                                            <img style="width: 100%; padding: 5px;" src="assets/images/serviceimg/Artboard_21.jpg" data-holder-rendered="true">
                                            <a href="#" class="btn btn-primary" style="margin: 5px;">Chọn</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card card-block">
                                            <img style="width: 100%; padding: 5px;" src="assets/images/serviceimg/Artboard_21.jpg" data-holder-rendered="true">
                                            <a href="#" class="btn btn-primary" style="margin: 5px;">Chọn</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card card-block">
                                            <img style="width: 100%; padding: 5px;" src="assets/images/serviceimg/Artboard_21.jpg" data-holder-rendered="true">
                                            <a href="#" class="btn btn-primary" style="margin: 5px;">Chọn</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BXH style hot -->
    <div class="container" style="background-color: rgba(184, 188, 190, 0.8); margin-top: 30px;">
        <h1 style="border-bottom: 2px solid black; padding: 5px 0px 5px 0px;">BXH tóc tháng này</h1>
        <div class="row text-center text-lg-left" style="padding: 20px;">
            <img style="border: 1px solid black; height: 280px; width: 200px;" src="https://static2.yan.vn/YanNews/2167221/201706/20170603-034824-chieu-cao-va-tieu-su-cua-dien-vien-yoo-seung-ho_600x900.jpg" alt="..." class="rounded mx-auto d-block">
            <img style="border: 1px solid black; height: 280px; width: 200px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSygp8-V7zKHkLLYyOi1bwB7IIEQW9l31aT6A&usqp=CAU" alt="..." class="rounded mx-auto d-block">
            <img style="border: 1px solid black; height: 280px; width: 200px;" src="https://image.winudf.com/v2/image1/Y29tLmtpbWJlb20ua3BvcHdhbGxwYXBlcnNfc2NyZWVuXzBfMTU2Mzc5MTY5OF8wNDA/screen-0.jpg?fakeurl=1&type=.jpg" alt="..." class="rounded mx-auto d-block">
            <img style="border: 1px solid black; height: 280px; width: 200px;" src="https://i.pinimg.com/originals/f2/e0/2e/f2e02ed1bb9b0a3249f9105be7fda074.jpg" alt="..." class="rounded mx-auto d-block">
        </div>
    </div>
    <!-- Tiện ích Baber -->
    <div class="container" style="background-color: white; margin-top: 10px; margin-bottom: 10px;">
        <h1 style="border-bottom: 2px solid black; padding: 5px 0px 5px 0px;">Tiện ích 24 shine</h1>

        <div class="item"><img src="https://storage.30shine.com/ResourceWeb/data/images/dichvu-home/tien-ich/Elipse1.png" alt=""> <span>Giữ
        xe miễn phí</span></div>
        <div class="item"><img src="https://storage.30shine.com/ResourceWeb/data/images/dichvu-home/tien-ich/Elipse2.png" alt=""> <span>Gần
        chỗ đậu ô tô</span></div>
        <div class="item"><img src="https://storage.30shine.com/ResourceWeb/data/images/dichvu-home/tien-ich/Elipse3.png" alt="">
            <span>Wifi miễn phí</span></div>
        <div class="item"><img src="https://storage.30shine.com/ResourceWeb/data/images/dichvu-home/tien-ich/Elipse4.png" alt=""> <span>Đồ
        uống miễn phí</span></div>
        <div class="item"><img src="https://storage.30shine.com/ResourceWeb/data/images/dichvu-home/tien-ich/Elipse5.png" alt="">
            <span>Điều hòa mát lạnh</span></div>
        <div class="item"><img src="https://storage.30shine.com/ResourceWeb/data/images/dichvu-home/tien-ich/Elipse6.png" alt="">
            <span>Khẩu trang miễn phí</span></div>
        <div class="item"><img src="https://storage.30shine.com/ResourceWeb/data/images/dichvu-home/tien-ich/Elipse7.png" alt=""> <span>Sạc
        điện thoại</span></div>
        <div class="item"><img src="https://storage.30shine.com/ResourceWeb/data/images/dichvu-home/tien-ich/Elipse8.png" alt=""> <span>Tủ
        giữ đồ cá nhân</span></div>
        <div class="item"><img src="https://storage.30shine.com/ResourceWeb/data/images/dichvu-home/tien-ich/Elipse9.png" alt="">
            <span>Thanh toán đa dạng</span></div>
        <div class="item"><img src="https://storage.30shine.com/ResourceWeb/data/images/dichvu-home/tien-ich/Elipse10.png" alt="">
            <span>Nghe nhạc bản quyền</span></div>
    </div>

    <div class="fixed-bottom"> <a style="float: right;" class="btn btn-success" href="/booking" role="button">Đặt lịch</a>
    </div>
    <app-footer></app-footer>
</div>
