<div class="container-sm" style="margin-top: 30px">
    <div class="row" style="justify-content: center;">
        <div class="col-sm-6">
            <img class="img-fluid" src="{{product.image}}">
        </div>
        <div class="col-sm-6" style="margin-top: 30px">
            <h1><strong>THÔNG TIN SẢN PHẨM</strong></h1>
            <br>
            <h1 class="text-secondary"><strong>{{product.name}}</strong></h1>
            <br>
            <h1 class="text-secondary"><strong>{{product.price | currency : "VND"}}</strong></h1>
            <br>
            <h3 class="text-secondary">{{product.description}}</h3>
            <br>
            <div>
                <input type="number" value={{quantity}} #box (keyup.enter)="updateQuantity(box.value)" (blur)="updateQuantity(box.value)">
            </div>
            <br>
            <button class="btn btn-outline-secondary " (click)="selectProduct(product.id)">Mua Hàng</button>
        </div>
    </div>
</div>