body {
    font-family: "Open Sans", sans-serif;
}

.mat-tab-group {
    margin-bottom: 48px;
}

h4 {
    padding: 0;
}

.star-rating li {
    padding: 0;
}

.star-rating i {
    font-size: 14px;
    color: #321dee;
}

.disableCard {
    display: none !important;
}
