<app-header></app-header>
<div class="col-md-12" style="text-align: center;">
    <h2><b>Sản Phẩm</b> Thịnh Hành</h2>
</div>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Tạo kiểu tóc" mat-align-tabs="center">
        <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
            <div [fxFlex]="(100/4) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7]">
                <mat-card class="mat-elevation-z4">
                    <img mat-card-image src="//product.hstatic.net/1000306701/product/dsc01356_dcea08d6f73d4c8790ca858e70ec1f5f_large.jpg">
                    <mat-card-content style="text-align: center;">
                        <h4>Apple iPad</h4>
                        <p><span>$369.00</span></p>
                        <div class="star-rating">
                            <ul class="list-inline" style="display: flex; justify-content: center;">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                    </mat-card-content>
                    <mat-card-actions style="text-align: center;">
                        <button mat-button>Add to cart</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Chăm sóc tóc">Content 2</mat-tab>
    <mat-tab label="Chăm sóc da">Content 3</mat-tab>
    <mat-tab label="Chăm sóc cơ thế">Content 2</mat-tab>
    <mat-tab label="Chăm sóc râu">Content 3</mat-tab>
</mat-tab-group>