<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <h4 class="card-title ">Lịch sử đặt lịch</h4>
        </div>
        <div class="col-md-6 text-right">
            <a type="button" routerLink="/booking" data-dismiss="modal" class="btn btn-success">ĐẶT LỊCH MỚI</a>
        </div>
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Ngày đặt</th>
                <th scope="col">Salon</th>
                <th scope="col">Dịch vụ</th>
                <th scope="col">Tổng tiền</th>
                <th scope="col">Trạng thái</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let booking of history; let i = index">
                <td scope="row">{{booking.dateTime}}</td>
                <td>{{booking.salon.street}}, {{booking.salon.district}}, {{booking.salon.ward}}, {{booking.salon.province}}</td>
                <td>
                    <p *ngFor="let service of booking.services">{{service.name}} ({{ service.price | currency: "VND" }})</p>
                </td>
                <td>{{booking.services | totalServicePrice | currency: "VND" }}</td>
                <td [ngSwitch]="booking.bookingStatus">
                    <span *ngSwitchCase="'DONE'" class="badge badge-success">Hoàn thành</span>
                    <span *ngSwitchCase="'CANCEL'" class="badge badge-danger">Đã hủy</span>
                    <span *ngSwitchCase="'WAITING'" class="badge badge-warning text-grey">Đang đợi</span>
                    <span *ngSwitchCase="'IN_PROGRESS'" class="badge badge-info">Đang thực hiện</span>
                </td>
                <td>
                    <a class="btn btn-outline-success btn-sm" (click)="showModal(i, booking.bookingId)" data-toggle="modal" data-target="#bookingDetail">Xem chi tiết</a>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Modal Booking Detail-->
    <div class="modal fade" id="bookingDetail" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">THÔNG TIN LỊCH ĐẶT</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <span class="w-title">
                            <img src="../../assets/images/icons/pin-location.svg" alt="">
                            <strong class="text-secondary">&nbsp;SALON&nbsp;</strong>
                        </span>
                    </div>
                    <div class="mt-1">{{salon}}</div>
                    <hr>
                    <div class="row">
                        <div class="col-4">
                            <div class="text-secondary"><img src="../../assets/images/icons/calendar.svg">&nbsp; <strong>NGÀY</strong></div>
                            <strong class="text-danger">{{date}}</strong>
                        </div>
                        <div class="col-4">
                            <div class="text-secondary"><img src="../../assets/images/icons/time.svg">&nbsp; <strong>GIỜ</strong></div>
                            <strong class="text-danger">{{time}}</strong>
                        </div>
                        <div class="col-4">
                            <div class="text-secondary"><img src="../../assets/images/icons/user-2.svg">&nbsp; <strong>STYLIST</strong></div>
                            <strong class="text-danger">{{stylist}}</strong>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <div class="text-secondary"><img src="../../assets/images/icons/stars-24px.svg">&nbsp; <strong>DỊCH VỤ</strong></div>
                        <ng-container *ngFor="let service of services">
                            <div class="my-2">
                                <img class="img-fluid" style="width: 120px;" [src]="service.bookingImage"> {{service.name}} - {{service.price | currency : "VND"}}
                            </div>
                        </ng-container>
                    </div>
                    <div class="modal-footer" [ngSwitch]="bookingStatus">
                        <div *ngSwitchCase="'WAITING'">
                            <a type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#bookingDelete">HỦY LỊCH</a>
                            <a type="button" [routerLink]="['/booking', {id: id}]" data-dismiss="modal" class="btn btn-warning">ĐỔI LỊCH</a>
                        </div>
                        <div *ngSwitchCase="'DONE'">
                            <div class="row">
                                <div class="col-6">
                                    <img class="img-fluid m-2" src='{{image1}}'>
                                </div>
                                <div class="col-6">
                                    <img class="img-fluid m-2" src='{{image1}}'>
                                </div>
                                <div class="col-6">
                                    <img class="img-fluid m-2" src='{{image1}}'>
                                </div>
                                <div class="col-6">
                                    <img class="img-fluid m-2" src='{{image1}}'>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delete Booking -->
    <div class="modal fade" id="bookingDelete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Bạn chắc chắn muốn hủy lịch
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>
                    <button data-dismiss="modal" type="button" class="btn btn-success" (click)="deleteBooking(id)">Có</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>