<!-- <form [formGroup]="salonFormGroup">
    <mat-form-field appearance="fill" style="width: 380px;">
        <mat-label>Chọn Salon</mat-label>
        <input type="text" matInput placeholder="Địa chỉ"  [matAutocomplete]="auto" formControlName="salon" required>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option (click)="saveSalon()" *ngFor="let option of filteredSalon | async" [value]="option">
                <img class="example-option-img" aria-hidden [src]="option.street" height="25">
                <span>{{option.street}}, {{option.district}}, {{option.ward}}, {{option.province}}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form> -->
<form [formGroup]="provinceForm">
    <div class="row" style="justify-content: center;">
        <div class="col-md-4">
            <div class="form-group">
                <label>Tỉnh/Thành Phố</label>
                <input type="text" class="form-control" placeholder="Chọn Tỉnh/Thành Phố" matInput [matAutocomplete]="auto" formControlName="province">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="getDistrictsAndWards($event.option.value.id)">
                    <mat-option *ngFor="let option of filteredProvinces | async" [value]="option">
                        <span>{{option.name}}</span>
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Quận/huyện</label>
                <input type="text" class="form-control" placeholder="Chọn Quận/Huyện" matInput [matAutocomplete]="auto2" formControlName="district">
                <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredDistricts | async" [value]="option">
                        {{option.name}}
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>
    </div>
</form>
<!-- Danh sách salon -->
<mat-card style="margin-bottom: 10px" *ngIf="this.provinceForm.get('province').value === ''">
    <div class="card-body">
        <h1 style="text-align: center;">Danh sách Salon</h1>
        <div class="row salon" style="text-align: center; height: 320px;">
            <div *ngFor="let salon of this.salons let i = index">
                <div>
                    <a style="margin-right:10px;" type="button" (click)="bookingSalon(salon, i)">
                        <div class="card">
                            <img src="{{salon.image}}" alt="Avatar" style="width:220px; height:220px">
                            <div class="container">
                                <p>{{salon.street}} {{salon.ward}} {{salon.district}} {{salon.province}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</mat-card>
<!-- <div class="card" style="margin-bottom: 60px" *ngIf="this.provinceForm.get('province').value === ''">
    <div class="card-body">
        <h1 style="text-align: center;">Top Salon Miền Bắc</h1>
        <div class="row" style="text-align: center;">
            <div *ngFor="let salon of this.salons let i = index">
                <div>
                    <a type="button" (click)="bookingSalon(salon, i)">
                        <div class="selectService">
                            <img style="width: 220px; height: 220px; padding: 5px;" src="{{salon.image}}" data-holder-rendered="true">
                            <p style="width: 220px; padding: 5px;">{{salon.street}} {{salon.ward}} {{salon.district}} {{salon.province}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<mat-card style="margin-bottom: 10px" *ngIf="this.provinceForm.get('province').value != ''">
    <div class="card-body">
        <h1 style="text-align: center;">Salon tại {{this.provinceForm.get('district').value === '' ? this.provinceForm.get('province').value.name : (this.provinceForm.get('district').value.name)}} {{this.provinceForm.get('district').value !== '' ? this.provinceForm.get('province').value.name
            : ''}}</h1>
        <div *ngIf="!findName(this.provinceForm.get('province').value.name) &&this.provinceForm.get('district').value === ''">
            <h1>Chưa có salon tại Tỉnh/Thành Phố này</h1>
        </div>
        <div *ngIf="!findName(this.provinceForm.get('district').value.name) &&this.provinceForm.get('district').value !== ''">
            <h1>Chưa có salon tại Quận/Huyện này</h1>
        </div>
        <div class="row salon" style="text-align: center; height: 320px;">
            <!-- Lọc salon theo Tỉnh/Thành phố -->
            <div *ngFor="let salon of this.salons let i = index">
                <div *ngIf="salon.province === this.provinceForm.get('province').value.name && this.provinceForm.get('district').value === ''">
                    <a style="margin-right:10px;" type="button" (click)="bookingSalon(salon, i)">
                        <div class="card">
                            <img src="{{salon.image}}" alt="Avatar" style="width:220px; height:220px">
                            <div class="container">
                                <p>{{salon.street}} {{salon.ward}} {{salon.district}} {{salon.province}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Lọc salon theo Quận/Huyện -->
                <div *ngIf="salon.province === this.provinceForm.get('province').value.name">
                    <a *ngIf="salon.district == this.provinceForm.get('district').value.name " style="margin-right:10px;" type="button" (click)="bookingSalon(salon, i)">
                        <div class="card">
                            <img src="{{salon.image}}" alt="Avatar" style="width:220px; height:220px">
                            <div class="container">
                                <p>{{salon.street}} {{salon.ward}} {{salon.district}} {{salon.province}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</mat-card>
<!-- <mat-card style="margin-bottom: 60px" *ngIf="this.provinceForm.get('province').value != '' && this.provinceForm.get('district').value != ''">
    <div class="card-body">
        <h1 style="text-align: center;">Salon tại {{this.provinceForm.get('district').value.name}}, {{this.provinceForm.get('province').value.name}}</h1>
        <div class="row" style="text-align: center;">
            <div *ngFor="let salon of this.salons let i = index">
                <div *ngIf="salon.province === this.provinceForm.get('province').value.name && salon.district == this.provinceForm.get('district').value.name ">
                    <a style="margin-right:10px;" type="button" (click)="bookingSalon(salon, i)">
                        <div class="card">
                            <img src="{{salon.image}}" alt="Avatar" style="width:220px; height:220px">
                            <div class="container">
                                <p>{{salon.street}} {{salon.ward}} {{salon.district}} {{salon.province}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</mat-card> -->
