.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 60px;
}


/* Autocomplete */

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.example-option-img {
    vertical-align: middle;
    margin-right: 8px;
}

[dir='rtl'] .example-option-img {
    margin-right: 0;
    margin-left: 8px;
}

.card-header {
    padding: 0px !important;
    border-bottom: 0px !important;
}


/* Chọn dịch vụ */

.img-stylist {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.nav-tabs .nav-link.active {
    background-color: violet;
}

.nav-link {
    color: white;
}

.test {
    border: 1px solid lightcyan;
    width: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 3px;
    text-align: center;
    background-color: lightcyan;
    flex: 0 0 25%;
    max-width: 25%;
    margin-bottom: 3px;
}